  {% include "polls/../../../../Forum/forumapp/templates/import.html" %}
    <a href="{% url 'forumapp:topic' categories.pk %}">Create topic</a>

    <h2>{{ question.question_text }}</h2>
    <p> ********   Categories ******* <br/><br/>

    </p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'forumapp:topic' categories.id %}" method="post">
    {% csrf_token %}
    {% for choice in categories.topics_set.all %}
        {{ choice.topic_subject }}<br/>
        {% for choice2 in choice.comments_set.all %}
             {{ choice2.comment }}

        {% endfor %}
        <br/><br/>
    {% endfor %}

    </form>



