 <h2 style="font-family: Arial">Add a Category</h2>



  {% if errors %}
    {% for key,error in errors.iteritems %}
      {{ key }}: {{ error }}
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label for="cat_name"></label>
        <h3>Category Name</h3>
        {{ categories_form.cat_name }}
        <h3>Category Description</h3>
        {{ categories_form.cat_description }}<br/><br/>

    <input type="submit" value="Save"/>
  </form>