
<div align="center">

    <a  style="display: inline-block" href="{% url 'forumapp:index' %}">Home Page   </a> || <a style="display: inline-block" href="{% url 'forumapp:categories' %}">   Create Category</a>


<body style="background: ../../../static/anket.jpj">

