 {% include "polls/../../../../Forum/forumapp/templates/import.html" %}
<a href="{% url 'forumapp:register' %}">Register Here</a>

<div style="color: #009FC1">
    <h1 xmlns="http://www.w3.org/1999/html" style="font-family: Verdana">Welcome  My Blog </h1>
    <h2>Lets Begin </h2>
</div></br></br>


{% if latest_categories_list %}
    <ul>
    {% for category in latest_categories_list %}
        <li><a href="/{{ category.id }}/">{{ category.cat_name }}</a></li></br>
            <table><tr>
                <td>{{category.cat_name}}</td>
                <td>{{ category.cat_description }}</td>
            </tr></table>

        {% for choice in category.topics_set.all %}
            <li>{{ choice.topic_subject }}</li>
            <form method="post">
            {% csrf_token %}
            <label for="cat_name"></label>

                <h3>Category comments</h3>
                {{ comment_form.comments }}<br/><br/>

                <input type="submit" value="Save"/>

        {% endfor %}

    {% endfor %}
    </ul>

{% else %}

    <p>No Categories Posted Yet.</p>
{% endif %}


 {% include "polls/../../../../Forum/forumapp/templates/downPage.html" %}