<?php
//signup.php
include 'connect.php';
include 'header.php';


if($_SERVER['REQUEST_METHOD'] != 'POST')
{
    /*the form hasn't been posted yet, display it
	  note that the action="" will cause the form to post to the same page it is on */
	  echo '<h2>Sign up</h2>';
      echo '<form method="post" id="registration" action="">
	<table id="form-tb">
		<tr>
 	 	<td>Username:</td>
		<td><input type="text" name="user_name"  data-validation="length" data-validation-length="min5" data-validation-error-msg="User name has to be at least 5 characters long" /></td>
		</tr>
		<tr>
 		<td>Password:</td> 
		<td><input type="password" name="user_pass" data-validation="length" data-validation-length="min8" data-validation-error-msg="Password has to be at least 8 characters long" ></td>
		</tr>
		<tr>
		<td>Password again:</td> 
		<td><input type="password" name="user_pass_check" data-validation="length" data-validation-length="min8" data-validation-error-msg="Password has to be at least 8 characters long"></td>
		</tr>
		<tr>
		<td>E-mail:</td>
		<td><input type="email" name="user_email" data-validation="email" ></td>
		</tr>
		<tr>
		<td></td>
 		<td><input type="submit" value="Submit" /></td>
		</tr>
 	 </form>
	<script> $.validate({form : \'#registration\'}); </script>

	 ';
	 
}
else
{
    /* so, the form has been posted, we'll process the data in three steps:
		1.	Check the data
		2.	Let the user refill the wrong fields (if necessary)
		3.	Save the data 
	*/
	$errors = array(); /* declare the array for later use */
	
	if(isset($_POST['user_name']))
	{
		//the user name exists
		if(!ctype_alnum($_POST['user_name']))
		{
			$errors[] = 'The username can only contain letters and digits.';
		}
		if(strlen($_POST['user_name']) > 30)
		{
			$errors[] = 'The username cannot be longer than 30 characters.';
		}
	}
	else
	{
		$errors[] = 'The username field must not be empty.';
	}
	
	
	if(isset($_POST['user_pass']))
	{
		if($_POST['user_pass'] != $_POST['user_pass_check'])
		{
			$errors[] = 'The two passwords did not match.';
		}
	}
	else
	{
		$errors[] = 'The password field cannot be empty.';
	}
	
	if(!empty($errors)) /*check for an empty array, if there are errors, they're in this array (note the ! operator)*/
	{
		echo 'Uh-oh.. a couple of fields are not filled in correctly..';
		echo '<ul>';
		foreach($errors as $key => $value) /* walk through the array so all the errors get displayed */
		{
			echo '<li>' . $value . '</li>'; /* this generates a nice error list */
		}
		echo '</ul>';
	}
	else
	{
		//the form has been posted without, so save it
		//notice the use of mysql_real_escape_string, keep everything safe!
		//also notice the sha1 function which hashes the password
		$sql = "INSERT INTO
					users(user_name, user_pass, user_email ,user_date, user_level)
				VALUES('" . $con->real_escape_string($_POST['user_name']) . "',
					   '" . sha1($_POST['user_pass']) . "',
					   '" . $con->real_escape_string($_POST['user_email']) . "',
						NOW(),
						0)";
						
		$result = $con->query($sql);
		if(!$result)
		{
			//something went wrong, display the error
			echo 'Something went wrong while registering. Please try again later.';
			//echo mysql_error(); //debugging purposes, uncomment when needed
		}
		else
		{
			echo 'Successfully registered. You can now <a href="signin.php">sign in</a> and start posting! :-)';
		}
	}
}

include 'footer.php';
?>