{% include "polls/../../../../Forum/forumapp/templates/import.html" %}

    <h2 style="font-family:Arial">Add a Choice</h2>

      {% if errors %}
        {% for key,error in errors.iteritems %}
          {{ key }}: {{ error }}
        {% endfor %}
      {% endif %}
      <form method="post">
        {% csrf_token %}

        <div style="color: #009FC1" >
          <label for="question_text">Question</label>
          {{ choice_form.question }}
        </div></br></br>
        <div style="color: #032472">
          <label for="question_text">Choice</label>
          {{ choice_form.choice_text }}
        </div></br>
        <div >
            <input style="background-color: #dddbd7 ;font-size: larger ; color: #B40E1F"  type="submit" value="Save"/>
        </div></br>

      </form>



{% include "polls/../../../../Forum/forumapp/templates/downPage.html" %}