{% include "polls/../../../../Forum/forumapp/templates/import.html" %}



  <h2 style="font-family: Arial">Add a Question</h2>



  {% if errors %}
    {% for key,error in errors.iteritems %}
      {{ key }}: {{ error }}
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label for="question_text">Question</label>
    {{ question_form.question_text }}
    <input type="submit" value="Save"/>
  </form>



{% include "polls/../../../../Forum/forumapp/templates/downPage.html" %}