 {% include "polls/../../../../Forum/forumapp/templates/import.html" %}


<div style="color: #009FC1">
    <h1 xmlns="http://www.w3.org/1999/html" style="font-family: Verdana">Welcome  Questionnaire </h1>
    <h2>Lets Begin </h2>
</div></br></br>

<p> Please Choice a Question and Press
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/{{ question.id }}/">{{ question.question_text }}</a></li></br>
    {% endfor %}
    </ul>

{% else %}

    <p>No polls are available.</p>
{% endif %}

</p>
 {% include "polls/../../../../Forum/forumapp/templates/downPage.html" %}