{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/menu.css' %}" />

<div id="menu">

		<ul class="menuTemplate3 decor3_1" license="mylicense">
		<li><a href="{% url 'polls:index' %}">Home Page</a></li>
			<li class="separator"></li>
		<li><a href="{% url 'polls:question' %}">Create Question</a></li>
					<li class="separator"></li>

		</ul>
    </div>