 {% include "polls/../../../../Forum/forumapp/templates/import.html" %}<!– import up page  –>


<h1>{{ question.question_text }}</h1>

<ol>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li><br/><br/>
{% endfor %}
</ol>

<br/><a href="{% url 'polls:detail' question.id %}">Do You Wanna Vote Again?</a>


 {% include "polls/../../../../Forum/forumapp/templates/downPage.html" %} <!– import down  page  –>