 {% include "polls/import.html" %}

<div style="text-align: left;">
    <h1 xmlns="http://www.w3.org/1999/html"> Anket </h1>
</div>


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/{{ question.id }}/">{{ question.question_text }}</a></li></br>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


 {% include "polls/downPage.html" %}